<footer>
    <div class="f-info">
        
        <!-- Social icons -->
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>

        <!-- Company info -->
        <div>
            <div>Wanderlust Private Limited</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>

    </div>
</footer>
