<footer class="footer">

  <!-- Top footer (columns) -->
  <div class="footer-top">
    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">AirCover</a></li>
        <li><a href="#">Anti-discrimination</a></li>
        <li><a href="#">Disability support</a></li>
        <li><a href="#">Cancellation options</a></li>
        <li><a href="#">Report neighbourhood concern</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Hosting</h4>
      <ul>
        <li><a href="#">Wanderlust your home</a></li>
        <li><a href="#">Wanderlust your experience</a></li>
        <li><a href="#">Wanderlust your service</a></li>
        <li><a href="#">AirCover for Hosts</a></li>
        <li><a href="#">Hosting resources</a></li>
        <li><a href="#">Community forum</a></li>
        <li><a href="#">Hosting responsibly</a></li>
        <li><a href="#">Join a free Hosting class</a></li>
        <li><a href="#">Find a co-host</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Wanderlust</h4>
      <ul>
        <li><a href="#">2025 Summer Release</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Wanderlust.org emergency stays</a></li>
      </ul>
    </div>
  </div>

  <!-- Bottom footer (copyright + socials) -->
  <div class="footer-bottom">
    <div class="footer-left">
      © <%= new Date().getFullYear() %> Wanderlust, Inc. · 
      <a href="#">Privacy</a> · 
      <a href="#">Terms</a> · 
      <a href="#">Sitemap</a> · 
      <a href="#">Company details</a>
    </div>
    
    <div class="footer-right">
      <a href="#"><i class="fa-solid fa-globe"></i> English (IN)</a>
      <a href="#"><i class="fa-solid fa-indian-rupee-sign"></i> INR</a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-icons">
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
  </div>

</footer>
